<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Core;User ID=coreuser;Password=iulG5exzjnnShNuEQDVs" />
  <add name="security" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Core;User ID=securityuser;Password=sNSbaEYg9NjcMGL2sFdN" />
  <add name="master" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Master;User ID=masteruser;Password=Hc88AJCeTJ52UeMm0msN" />
  <add name="web" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Web;User ID=webuser;Password=nOvDojB2Nu2Dr7XUETue" />
  <add name="messaging" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Messaging;User ID=messaginguser;Password=q0dmp4DmfmuvNoSNWEDz" />
  <add name="xdb.processing.pools" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Processing.Pools;User ID=poolsuser;Password=eMuIXQzBUhCox8gStRPH" />
  <add name="xdb.referencedata" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_ReferenceData;User ID=referencedatauser;Password=FCMdaIdrU111yUNhGrDV" />
  <add name="xdb.processing.tasks" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Processing.Tasks;User ID=tasksuser;Password=RpH6QW6GL76zt3bfdOiu" />
  <add name="experienceforms" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_ExperienceForms;User ID=formsuser;Password=GvdSNXH5kDcHOpSqmY5S" />
  <add name="exm.master" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_EXM.Master;User ID=exmmasteruser;Password=LcOE485mXPi1UyJtqSxQ" />
  <add name="reporting" connectionString="Data Source=ALI-ADEL;Initial Catalog=CBE_Reporting;User ID=reportinguser;Password=HcJ6laoavYbDedcd1nhK" />
  <add name="sitecore.reporting.client" connectionString="https://CBExconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=71B5CF5BFF95293888E49B59A36DF566D56988FD" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="TxD8NDYdGO3Ll86pp2syl8zwG0mcZ90XUzSPvWpf5UjPlYGyVDJyQ5Vq2pCmiMpbhoBzPXTJ9yLjIrjUZsZT1xXMMmJxaD6lUIQ2" />
  <add name="xconnect.collection" connectionString="https://CBExconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=71B5CF5BFF95293888E49B59A36DF566D56988FD" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://CBExconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=71B5CF5BFF95293888E49B59A36DF566D56988FD" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://CBExconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=71B5CF5BFF95293888E49B59A36DF566D56988FD" />
  <add name="xdb.referencedata.client" connectionString="https://CBExconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=71B5CF5BFF95293888E49B59A36DF566D56988FD" />
  <add name="EXM.CryptographicKey" connectionString="0x0966610732523649727459669552408844308025359531169906265514805500" />
  <add name="EXM.AuthenticationKey" connectionString="0x0444271477915929347547144324864984224395689579598804499170415993" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>