<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentDelivery or ContentManagement">
		<!-- These are our custom settings -->
		<settings>
			<setting name="FederatedAuthentication.Enabled">
				<patch:attribute name="value">true</patch:attribute>
			</setting>
			<setting name="cbev2.Auth.Is4.ClientId" value="openIdConnectClient" />
			<setting name="cbev2.Auth.Is4.Authority" value="https://localhost:5000" />
			<!-- This is our IdentityServer4 host name -->
			<setting name="cbev2.Auth.Is4.RedirectUri" value="https://cbev2.dev.local/signin-is4" />
			<setting name="cbev2.Auth.Is4.PostLogoutRedirectUri" value="https://cbev2.dev.local/Home" />
		</settings>

		<pipelines>
			<owin.identityProviders>
				<!-- Here we define our provider processor pipeline -->
				<processor type="CBE.Feature.AccountsIdentityServer.Is4ProviderProcessor, CBE.Feature.AccountsIdentityServer" resolve="true">
					<scopes hint="list">
						<!-- These are the scopes requested from IdentityServer4 -->
						<scope name="openid">openid</scope>
						<scope name="profile">profile</scope>
					</scopes>
				</processor>
			</owin.identityProviders>
		</pipelines>

		<federatedAuthentication
			type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
			<identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
				<!-- This mapEntry is specific for our public website-->
				<mapEntry
						  type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
					<sites hint="list">
						<!-- Change it if you have a different name for the site in your <site name=""...> definition -->
						<site>website</site>
					</sites>

					<identityProviders hint="list:AddIdentityProvider">
						<!-- This points to our custom IdentityServer4 "IS4" provider defined in the identityProviders section -->
						<identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='IS4']" />
					</identityProviders>

					<!-- We are using our custom user builder to use the email address as the username -->
					<!-- Also we are setting isPersistentUser to false, so no new users are persisted in Sitecore -->
					<externalUserBuilder type="CBE.Feature.AccountsIdentityServer.CustomUserBuilder, CBE.Feature.AccountsIdentityServer">
						<param desc="isPersistentUser">false</param>
					</externalUserBuilder>
				</mapEntry>
			</identityProvidersPerSites>

			<identityProviders hint="list:AddIdentityProvider">
				<!-- External identity provider configuration -->
				<identityProvider id="IS4"
								  type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
					<param desc="name">$(id)</param>
					<param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
					<caption>Log in with IdentityServer4</caption>
					<!-- Make sure your icon file exists in your filesystem -->
					<icon>/Assets/icons/is4.ico</icon>
					<domain>extranet</domain>
					<!-- The following setting is very important, it triggers logout in IdentityServer4 -->
					<triggerExternalSignOut>true</triggerExternalSignOut>
				</identityProvider>
			</identityProviders>

			<!-- General profile property mappings from the IdentityServer4 claims -->
			<propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
				<maps hint="list">
					<map name="Name to FullName"
						 type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
						 resolve="true">
						<data hint="raw:AddData">
							<source name="name" />
							<target name="FullName" />
						</data>
					</map>
					<map name="Emailaddress to Email"
						 type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
						 resolve="true">
						<data hint="raw:AddData">
							<source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
							<target name="Email" />
						</data>
					</map>
					<map name="Comment"
						 type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
						 resolve="true">
						<data hint="raw:AddData">
							<source name="idp" />
							<target name="Comment" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>