@using Sitecore.Feature.News
@using CBE.Foundation.Alerts
@using CBE.Foundation.Alerts.Extensions
@using CBE.Foundation.SiteExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!Model?.Item?.DescendsFrom(Templates.NewsArticle.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}

<div>
  @Html.Sitecore().Field(Templates.NewsArticle.Fields.Body, Model.Item)
</div>