<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>

      <setting name="CBE.Feature.Accounts.LoginGoalId" value="{66722F52-2D13-4DCC-90FC-EA7117CF2298}" />
      <setting name="CBE.Feature.Accounts.RegisterGoalId" value="{8FFB183B-DA1A-4C74-8F3A-9729E9FCFF6A}" />
      <!--<setting name="CBE.Feature.Accounts.Facebook.AppId" value="1853061478341799" />-->
      <!--<setting name="CBE.Feature.Accounts.Facebook.AppSecret" value="b85939ba7df9f5b483a1bc4b6f276071" />-->
    </settings>
    <pipelines>
      <initialize>
        <processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.RegisterWebApiRoutes, CBE.Feature.Accounts" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
      </initialize>
      <accounts.loggedIn>
        <processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.TrackLoggedIn, CBE.Feature.Accounts" resolve="true"/>
      </accounts.loggedIn>
      <accounts.loggedOut>
        <processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.TrackLoggedOut, CBE.Feature.Accounts" resolve="true"/>
      </accounts.loggedOut>
      <accounts.registered>
        <processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.TrackRegistered, CBE.Feature.Accounts" resolve="true"/>
      </accounts.registered>
      <!--<owin.identityProviders>
				<processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.IdentityProviders.Facebook, CBE.Feature.Accounts" resolve="true" />
			</owin.identityProviders>-->
      <!--<owin.cookieAuthentication.signedIn>
				<processor type="CBE.Feature.Accounts.Infrastructure.Pipelines.SignedIn.TrackSignedIn, CBE.Feature.Accounts" resolve="true" />
			</owin.cookieAuthentication.signedIn>-->
    </pipelines>
    <services>

      <register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel"
                      implementationType="Sitecore.Owin.Authentication.Security.AuthenticationManager, Sitecore.Owin.Authentication"
                      lifetime="Singleton" />
      <register serviceType="Sitecore.Abstractions.BaseTicketManager, Sitecore.Kernel"
                implementationType="Sitecore.Owin.Authentication.Security.TicketManager, Sitecore.Owin.Authentication"
                lifetime="Singleton" />
      <register serviceType="Sitecore.Abstractions.BasePreviewManager, Sitecore.Kernel"
                implementationType="Sitecore.Owin.Authentication.Publishing.PreviewManager, Sitecore.Owin.Authentication"
                lifetime="Singleton" />
      <configurator type="CBE.Feature.Accounts.ServiceRegistration, CBE.Feature.Accounts" />



    </services>

  </sitecore>
</configuration>