@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using CBE.Feature.DiscussionForum.BLL.DTOs
@model TopicDTO

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddTopicModal">
    Add Topic
</button>

<!-- Add Topic Modal -->
@using (Html.BeginForm("AddTopic", "Topics", FormMethod.Post, new { id = "popupForm", enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="AddTopicModal" tabindex="-1" role="dialog" aria-labelledby="AddTopicModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddTopicModalLabel">Add Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="topicContentInput">Topic Content</label>
                        @Html.TextBoxFor(model => model.Content, new { @placeholder = "Topic Content", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Content)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

}

