<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="CBE.Project.Website" description="CBE content" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
					<predicate>

						<include name="CBE.Templates" database="master" path="/sitecore/templates/Project/CBE" />
						<!--<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/CBE" />
						<include name="Renderings" database="master" path="/sitecore/layout/renderings/Project/CBE" />-->

						<!--<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/CBE" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/CBE" />
						<include name="Models" database="master" path="/sitecore/layout/models/Project/CBE" />-->
						<!--<include name="CBE.Languages" database="master" path="/sitecore/system/languages" />-->

						<!--<include name="Content" database="master" path="/sitecore/content/CBE" />
						<include name="Media" database="master" path="/sitecore/media library/CBE" />
						<include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/CBE" />

						<include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/CBE" />
						<include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/CBE" />
						<include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/CBE" />
						<include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CBE" />-->
					</predicate>
					<rolePredicate>
						<include domain="extranet" pattern="^Project CBE .*$" />
					</rolePredicate>
					<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>