<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Project.CBE.Website" description="CBE content" dependencies="Foundation.*,Feature.*,Project.Common.Website" extends="Helix.Project">
					<targetDataStore physicalRootPath="$(sourceFolder)\project\\Website\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						
						<include name="Templates" database="master" path="/sitecore/templates/Project/CBE" />
						
						<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/CBE" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/CBE" />
						<include name="Models" database="master" path="/sitecore/layout/models/Project/CBE" />
						<include name="Languages.Danish" database="master" path="/sitecore/system/Languages/da" />
						<include name="Languages.Japanese" database="master" path="/sitecore/system/Languages/ja-JP" />

						<include name="Content" database="master" path="/sitecore/content/CBE" />
						<include name="Media" database="master" path="/sitecore/media library/CBE" />
						<include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/CBE" />

						<include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/CBE" />
						<include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/CBE" />
						<include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/CBE" />
						<include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CBE" />
					</predicate>

					<rolePredicate>
						<include domain="extranet" pattern="^Project CBE .*$" />
					</rolePredicate>
					<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>