<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Feature.Language" description="Feature Language" dependencies="Foundation.*" extends="Helix.Feature">

					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Media" database="master" path="/sitecore/media library/Feature/Language" />
						<include name="Renderings" database="master" path="/sitecore/layout/renderings/Feature/Language" />
						<include name="Templates" database="master" path="/sitecore/templates/Feature/Language" />
					</predicate>
					
					<rolePredicate>
						<include domain="modules" pattern="^Feature Language .*$" />
					</rolePredicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>


